body {
  text-align: center;
}

#pizza-order {
  background-color: #EAAE8E;
}

#pizza-order h2 {
  color: white;
  font-family: 'Satisfy', cursive;
}

body {
  background-color: #D08861;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: white;
}

.intro {
  color: white;
}

#final-results {
  background-color: #8BCD5A;
  color: white;
  display: none;
}

#options-display {
  background-color: #DCD05E;
  display: none;
  margin: 0 auto;
}

#options-display h2 {
  font-family: 'Satisfy', cursive;
  color: white;
}

#final-results h2 {
  font-family: 'Satisfy', cursive;
}

#chosen-toppings ul {
  /*list-style-position: inside;*/
  display: inline-block;
  text-align: left;
}

#chosen-toppings li {
  text-align: center;
  list-style-position: inside;
}

#make-pizza {
  background-color: #AD5A3B;
}

#make-pizza:hover {
  color: white;
}

#place-order {
  background-color: #3BAD42;
}

#place-order:hover {
  color: white;
}

#clear-order {
  background-color: #AD493B;
}

#clear-order:hover {
  color: white;
}
